body {
  font-family: Arial, sans-serif;
}

.h-l {
  font-size: 24px;
  text-align-last: left;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.lists {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.list {
  font-size: 30px;
  list-style: none;
}

.list:nth-child(n+2) {
  margin-top: 15px;
}

.list a {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 10px;
  margin-left: 10px;
  font-weight: bold;
  max-width: 500px;
  display: block;
}
